@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
}

.menu {
  &__list {
  display: flex;
  align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.user {
  display: flex;
  align-items: center;

  &__link--one,
  &__link--two,
  &__link--three {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link--one,
  &__link--three {
    width: 51px;
    height: 52px;
    border-radius: 50%;
  }

  &__link--one {
    background-color: #edf1f4;
    margin-right: 25px;
  }

  &__link--two {
    display: flex;
    justify-content: space-around;
    background-color: #fcd7b6;
    margin-right: 25px;
    width: 178px;
    height: 51px;
    border-radius: 25px;
  }

  &__link--three {
    background-color: #a3bbc8;
  }

  &__num {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -9px;
    right: -9px;  
  }
}

.slider {
  &__items {
    padding: 90px 170px ;
    background-color: #fcd7b6;
  }

  &__item {
    display: inline-block;
    justify-content: space-between;
  }

  &__content {
    padding-top: 150px;
    max-width: 410px;
    min-height: 330px;
  }

  &__button {
    border: none;
    padding: 25px 23px;
    background-color: #a3bbc8;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  &__button::after {
    content: "";
    background-image: url('../images/shape.png');
    background-size: contain;
    background-position: center;
    max-width: 25px;
    min-height: 12px;
    width: 100%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      button {
        padding: 0;
        background-color: transparent;
      }
      &.slick-active {

      }
    }
  }
}

.info {
  &__box {
    padding: 40px 0;
    background-color: #fef7f0;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    max-width: 208px;
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 10px;
  }

  &__text {
    p {
      padding-top: 10px;
    }
  }
}


.products {
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto 30px;
  }

  &__button {
    button {
      border: none;
      background-color: #fff;
    }
  }

  &__items {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__item {
    background-color: #ffffff;
    max-width: 260px;
    min-height: 380px;
    padding: 26px 30px;
    width: 100%;
  }

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    img {
    max-width: 245px;
    min-height: 210px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    
    }
  }

  &__link {
    border-radius: 50%;
    max-width: 45px;
    min-height: 45px;
    background-color: #ffffff;
  }

  &__link:not(:last-child) {
    margin-top: 16px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-bottom: 10px;
    }
  }
}

.footer-top {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0;
  margin: 0 auto;
  
  &__item--one {
    max-width: 210px;
    min-height: 200px;
  }

  &__item--two,
  &__item--three {
    max-width: 140px;
    height: 200px;
    padding-top: 24px;
  }

  &__item--four {
    max-width: 286px;
    min-height: 200px;
    padding-top: 24px;
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 10px;

    p {
      margin-bottom: 40px;
    }
  }

  &__link {
    transition: color 0.3s ease-in-out;
  }

  &__link:hover{
    color: #1f2044;
  }

  &__input {
    color: #234969;
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px 14px;
  }

  &__button {
    color: #ffffff;
    background-color: #a3bbc8;
    max-width: 100px;
    width: 100%;
    border: none;
    padding: 12px 14px;
  }
}

.footer-bottom {
  max-width: 1170px;
  width: 100%;
  border-top: 1px solid #dae4e9 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 40px;
  margin: 0 auto;

  &__list {
    display: flex;
  
    span {
      margin: 0 12px;
    }
  }
}
@import 'media';